<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beta.function.order.dao.OrderMapper">

    <resultMap id="orderResultMap" type="beta.function.order.dto.OrderDTO">
        <id property="orderCode" column="orderCode"/>
        <result property="gameCode" column="gameCode"/>
        <result property="cartCode" column="cartCode"/>
        <result property="userCode" column="userCode"/>
        <result property="paymentCode" column="paymentCode"/>
        <result property="gamecheck" column="gamecheck"/>
        <!--        <association property="gameDTO" javaType="beta.function.game.dto.GameDTO"/>-->
        <!--        <association property="paymentDTO" javaType="beta.function.order.dto.PaymentDTO"/>-->
        <!--        <association property="CartDTO" javaType="beta.function.order.dto.CartDTO"/>-->
    </resultMap>

    <select id="findOrderList" resultMap="orderResultMap">
        SELECT
        orderCode,
        gameCode,
        cartCode,
        userCode,
        paymentCode,
        gamecheck
        FROM
        game_order
        ORDER BY
        orderCode
    </select>

    <select id="userByOrderList" parameterType="int" resultMap="orderResultMap">
        SELECT
        orderCode,
        gameCode,
        cartCode,
        userCode,
        paymentCode,
        gamecheck
        FROM
        game_order
        WHERE
        orderCode =#{ orderCode }
        ORDER BY
        orderCode
    </select>

    <select id="isCheckOrderList" resultType="int">
        select count(gamecheck) from game_order
             where userCode = #{ userCode } and gameCode = #{ gameCode } and (gamecheck = 'N' or gamecheck = 'Y')
<!--        where userCode = #{ userCode } and gameCode = #{ gameCode }-->
    </select>

    <select id="cartListCheck" parameterType="beta.function.order.dto.OrderDTO">
        select
        count(go.gameCode)
        from game_order go
        where go.gameCode = #{ gameCode } and userCode = #{ userCode }
    </select>

    <select id="gameListCheck" parameterType="beta.function.order.dto.OrderDTO">
        select
        count(go.gameCode)
        from game_order go
        where go.gameCode = #{ gameCode } and userCode = #{ userCode }
    </select>

    <select id="gameListCheck" parameterType="beta.function.order.dto.OrderDTO">
        select
        count(go.gameCode)
        from game_order go
        where go.gameCode = #{ gameCode } and userCode = #{ userCode }
    </select>

    <insert id="insertOrder" parameterType="beta.function.order.dto.OrderDTO">
        INSERT INTO game_order
        (
        userCode,
        cartCode,
        gameCode,
        paymentCode,
        gamecheck
        )
        VALUES
        (
        #{ userCode },
        #{ cartCode },
        #{ gameCode },
        #{ paymentCode },
        'Y'
        )
    </insert>

    <update id="updateOrder" parameterType="beta.function.order.dto.OrderDTO">
        UPDATE game_order
        SET gamecheck = 'Y'
        WHERE gameCode = #{ gameCode } and userCode = #{ userCode }
    </update>

</mapper>