<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beta.function.order.dao.PaymentMapper">

    <!-- payment_list와 account_list 테이블 -->
    <resultMap id="paymentAccountResultMap" type="beta.function.order.dto.PaymentDTO">
        <id property="paymentCode" column="paymentCode"/>
        <result property="paymentDate" column="paymentDate"/>
        <result property="amount" column="amount"/>
        <!--payment_list 테이블과 account_list 테이블 join-->
        <collection property="accountDTO" resultMap="accountResultMap"/>
    </resultMap>

    <!--account_list 테이블-->
    <resultMap id="accountResultMap" type="beta.function.account.dto.AccountDTO">
        <result property="userId" column="userId"/>
        <result property="nickName" column="nickName"/>
    </resultMap>

    <!--회원별 주문 리스트 담기-->
    <insert id="addResultList" parameterType="beta.function.order.dto.PaymentDTO">
        INSERT INTO game_payment
            (
                paymentCode,
                paymentDate,
                amount,
                userCode
            )
        VALUES
            (
                #{ paymentCode }
                #{ paymentDate },
                #{ amount },
                #{ userCode }
            )
    </insert>

    <!--회원별 주문 리스트 (결제)-->
    <select id="paymentResult" resultMap="paymentAccountResultMap">
            SELECT
                a.paymentCode,
                a.paymentDate,
                a.amount,
                b.nickName
            FROM
                game_payment a
                JOIN account_list b ON a.userCode = b.userCode
            WHERE
                a.userCode = #{ userCode }
    </select>
</mapper>