<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- fontawesome -->
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>

<div class="nav" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="nav-menu">
        <div class="logo">
            <img src="/img/logo.png" alt="Gamsung Station">
        </div>

        <div class="main-nav-menu">
            <a href="/order/cart">
                <div class="cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h3>MY CART</h3>
                </div>
            </a>

            <div class="community">
                <i class="fa-solid fa-comments"></i>
                <h3>COMMUNITY</h3>
            </div>

            <!--로그인 안된 상태에서 로그인 표시-->
            <a sec:authorize="isAnonymous()" th:href="@{/auth/login}">
                <div class="login">
                    <i class="fa-solid fa-user-large"></i>
                    <h3>LOG IN</h3>
                </div>
            </a>


            <!--로그인 한 사용자 이름 표시-->
            <a sec:authorize="isAuthenticated()" href="/admin/memberList">
                <div class="username">
                    <i class="fa-solid fa-user-large"></i>
                    <h3 sec:authentication="name"></h3>
                </div>
            </a>

            <!-- 로그인이 된 상태에서는 로그아웃 표시 -->
            <a sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">
                <div class="logout">
                    <h3>LOG OUT</h3>
                </div>
            </a>

        </div>
    </div>
</div>

</body>
</html>




