<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- fontawesome -->
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>

<div class="nav">
    <div class="nav-menu">
        <div class="logo">
            <img src="/img/logo.png" alt="Gamsung Station">
        </div>

        <div class="main-nav-menu">
                <div class="cart" onclick="location.href='/cart/history'">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <h3>MY PAGE</h3>
                </div>

            <div class="community">
                <i class="fa-solid fa-comments"></i>
                <h3>COMMUNITY</h3>
            </div>

            <div class="login">
                <i class="fa-solid fa-user-large"></i>
                <h3>LOG IN</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>




