<!-- Include navbar specific stylesheet -->
<link rel="stylesheet" th:href="@{/static/css/header.css}">
<!-- src/main/resources/templates/fragments/header.html -->
<div class="nav" th:fragment="navbar">
    <nav class="nav-menu">
        <a href="/">
            <div class="logo">
                <img src="/static/img/logo.svg" alt="Gamsung Station">
            </div>
        </a>

        <div class="main-nav-menu">
            <a href="/order/cart">
                <div class="cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h3>MY PAGE</h3>
                </div>
            </a>

            <div class="community">
                <i class="fa-solid fa-comments"></i>
                <h3>COMMUNITY</h3>
            </div>

            <a href="/auth/login">
                <div class="login">
                    <i class="fa-solid fa-user-large"></i>
                    <h3>LOG IN</h3>
                </div>
            </a>
        </div>

    </nav>
</div>
