<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
</head>
<body>
    <header>
        <!-- Importing the navbar with thymeleaf -->
        <nav>
        </nav>
    </header>
    <main>
        <article>
            <img src="" alt="mainPicture">
            <p>Let's go back to a time we know.</p>
            <p>Let's drink the whole night through.</p>
            <button></button>
        </article>
    </main>
    <aside></aside>
    <section>
        <ul class="productGrid" style="display: grid; grid-column: 4; grid-row: 2;">
            <li>
                <img src="" alt="game1">
                <button>Buy Now</button>
                <button>Learn More</button>
            </li>
            <li>
                <img src="" alt="game2">
                <button>Buy Now</button>
                <button>Learn More</button>
            </li>
            <li>
                <img src="" alt="game3">
                <button>Buy Now</button>
                <button>Learn More</button>
            </li>
            <li>
                <img src="" alt="game4">
                <button>Buy Now</button>
                <button>Learn More</button>
            </li>
        </ul>
    </section>
    <article>
        <ul class="productScroll">
            <li>
                <img src="" alt="game1">
                <button>Learn More</button>
            </li>
            <li>
                <img src="" alt="game2">
                <button>Learn More</button>
            </li>
            <li>
                <img src="" alt="game3">
                <button>Learn More</button>
            </li>
            <li>
                <img src="" alt="game4">
                <button>Learn More</button>
            </li>
        </ul>
    </article>
    <footer>
    </footer>
</body>
</html>