<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}"/>-->
</head>
<body>

<h1 style="text-align: center;"> Beta </h1>

<h3>1-1. Spring Security를 이용한 로그인 및 회원 가입</h3>
<a href="auth/login">로그인(SELECT USER)</a>
<br>
<a href="user/signup">회원가입(INSERT USER)</a>
<br>

<h3>1-2. Spring Security를 이용한 로그아웃</h3>
<form th:action="@{/auth/logout}" th:method="post">
    <button>로그아웃</button>
</form>


<div sec:authorize="hasAnyAuthority('ADMIN')">
    <p>Welcome, You are ADMIN!</p>
</div>


<div sec:authorize="hasAnyAuthority('USER')">
    <p>Welcome, You are USER!</p>
</div>
    <a href="admin/page">관리자 페이지 이동</a><br>
<!--    <div th:replace="common/header.html"></div>-->

    <h1 style="text-align: center;"> Project Beta </h1>

    <button onclick="location.href='/game/detail'">게임상세</button>

</body>
</html>