*{
    border: solid 0px #000;
}

body{
    background-color: #212121;
}

article{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-items: flex-start;
    color: #E6E6E6;
}

.menu-bar{
    width: 200px;
    height: 780px;
    margin: 38px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px 0 0 0;
    background-color: #585859;
}

.my-menu{
    margin: 180px 0 0 0;
    display: flex;
    flex-direction: column;
}

.my-menu > div{
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
}

.my-logout{
    margin: 30px;
    cursor: pointer;
}

.my-menu > div:hover{
    background-color: #39393A;
    border-right: solid 4px #212121;
    border-left: solid 4px #212121;
    border-radius: 40px 0 40px 0;
}

/**/
.cart-box{
    width: 530px;
    height: 640px;
    margin: 100px 0 0 50px;
}

.cart-item{
    margin: 20px 0 0 0;
}

.item{
    width: 100%;
    height: 160px;
    padding: 14px 10px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: #39393a;
}

.item-thumbnail{
    width: 136px;
    height: 136px;
    border-radius: 12px;
    background-color: #d9d9d9;
}

.item-txt{
    margin: 12px 56px 0 20px;
}

.item-txt > h3{
    color: #ffee32;
    margin-bottom: 25px;
}

.item-txt > p{
    line-height: 1.5rem;
}

.item-price{
    margin: 50px 0;
    line-height: 1.5rem;
    display: flex;
    flex-direction: row;
    color: #ffee32;
}

.item-price > h2{
    margin: 0 20px 0 0;
}

