/* Top Section Slider */
/* Adjusted */
.auto-mySwiper {
    width: 100%;
    height: 750px;
    margin-top: 80px;
    margin-bottom: 105px;
}

/* Adjusted */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Change to 'cover' to ensure the image fills the area */
}

/* Product Grid Section */
.product-section {
    margin-bottom: 145px;
}

/* Centered Container */
.center-container {
    max-width: 1440px;
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Optional padding for responsiveness */
}

.productGrid {
    /*width: 305px;
    height: 305px;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.productGrid > * { /* Apply styles to direct children of productGrid (li in this case) */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease; /* For hover effect */
}

.productGrid img {
    width: 305px;
    height: 305px;
    object-fit: cover;
    border-radius: 10px;
}

/* Button Group on Top of Image */
.button-group {
    position: absolute;
    bottom: 10px; /* Position buttons at the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px; /* Spacing between buttons */
    z-index: 2; /* Ensure buttons appear on top of the image */
}

/* Bottom Section Slider */
/* Adjusted */
.swiper-container {
    width: 100%;
    height: 100%;
    margin-bottom: 145px;
}

.sub-btn {
    position: absolute;
    top: 60%; /* Position button at the bottom of the image */
    left: 30%;
    transform: translateX(-50%);
    z-index: 2; /* Make sure the button is on top of the image */
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub-btn:hover {
    /*background-color: var(--sub-color02); !* Change button color on hover *!*/
    background-color: var(--sub-color04);
    color: var(--sub-color03);
}

/* Hover effect for the product item */
.product-item:hover img {
    transform: scale(1.05); /* Slight zoom-in effect */
    transition: transform 0.3s ease;
}

