<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}"/>-->
</head>
<body>

<!--<div th:replace="common/header.html"></div>-->

<h1>장바구니</h1>

<article>
<!--    <div class="menu-bar">-->
<!--        <div class="my-menu">-->
<!--            <div>-->
<!--                <h3>최근활동</h3>-->
<!--            </div>-->

<!--            <div>-->
<!--                <h3>장바구니</h3>-->
<!--            </div>-->

<!--            <div>-->
<!--                <h3>정보수정</h3>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="my-logout">-->
<!--            <h3>로그아웃</h3>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="cart-box">-->
<!--        <h3>장바구니 내역</h3>-->

<!--        <div class="cart-item">-->
<!--            <div class="item item1">-->
<!--                <div class="item-thumbnail">-->
<!--                    <img src="" alt="thumbnail1">-->
<!--                </div>-->

<!--                <div class="item-txt">-->
<!--                    <h3>게임 아이템1</h3>-->
<!--                    <p>게임 소개 멘트입니다.<br/>게임 소개 멘트입니다.</p>-->
<!--                </div>-->

<!--                <div class="item-price">-->
<!--                    <h2>1,900</h2>-->
<!--                    <i class="fa-solid fa-trash"></i>-->
<!--                </div>-->


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</article>

</body>
</html>