<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<section class="my-page-bar">
    <!--        <div class="my-menu-bar-bg"></div>-->
    <div class="my-menu-bar">
        <div class="my-menu">
            <button onclick="location.href='/cart/history'"  class="my-btn my-history">
                <h3>최근활동</h3>
            </button>

            <button onclick="location.href='/cart/userCart'" class="my-btn my-cart">
                <h3>장바구니</h3>
            </button>

            <button onclick="location.href='/cart/history'" class="my-btn my-">
                <h3>정보수정</h3>
            </button>
        </div>
        <div class="my-logout">
            <button>로그아웃</button>
        </div>
    </div>
</section>
</body>
</html>