<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Include global stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/global.css}">
    <!-- Include navbar specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
    <!-- Include footer specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/footer.css}">
    <!-- Include FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!---->
    <link rel="stylesheet" th:href="@{/static/css/cart.css}">
    <script>
        const successMessage = `[[${ successMessage }]]`;
        if(successMessage) alert(successMessage);
    </script>
</head>
<body>

<div th:insert="common/header :: navbar"></div>

<article>
    <section class="my-page-bar">

        <div class="my-menu-bar">
            <div class="my-menu">
                <button onclick="location.href='/cart/history'"  class="my-btn my-history">
                    <h3>최근활동</h3>
                </button>

                <button onclick="location.href='/cart/userCart'" class="my-btn my-cart">
                    <h3>장바구니</h3>
                </button>

                <button onclick="location.href='/cart/history'" class="my-btn my-information">
                    <h3>정보수정</h3>
                </button>
            </div>
            <a href="/" class="my-logout">로그아웃</a>
        </div>
        <div class="my-menu-bar-bg"></div>
    </section>

    <section class="my-cart-box">
        <h3>장바구니 내역</h3>

        <div th:each="user : ${users}" class="my-item-box">
            <div class="my-item">
                <div class="my-item-thumbnail">
                    <img th:src="${ '/static/uploadedFiles/img/game/' + user.gameDTO.gameThumbnail }" th:alt="${ user.gameDTO.gameThumbnail }"/>
                </div>
                <div class="my-item-txt">
                    <h3 th:text="${ user.gameDTO.gameName }"></h3>
                    <p th:text="${user.gameDTO.gameOrigin}"></p>
                </div>
                <div class="my-item-price">
                    <h2 th:text="${ user.gameDTO.gamePrice }"></h2>
                    <form th:action="@{/cart/delete/{gameCode}(gameCode=${user.gameCode})}" method="post">
                        <button type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="my-payment">
        <div class="my-paybox">
            <div class="my-pay">
                <h2>TOTAL</h2>
                <h2 th:text="${ total }"></h2>
            </div>

            <form th:action="@{/order/result}" method="post">

                <div class="paybox">
                    <div class="pay-now my-bank">
                        <label for="bank">Bank Transfer</label>
                        <select name="bank" id="bank">
                            <option value="우리은행">우리은행</option>
                            <option value="국민은행">국민은행</option>
                            <option value="농협">농협</option>
                            <option value="우체국">우체국</option>
                        </select>
                    </div>

                    <div class="pay-now my-card">
                        <label for="card">Card Payment</label>
                        <select name="card" id="card">
                            <option value="우리카드">우리카드</option>
                            <option value="국민은행">국민은행</option>
                            <option value="농협">농협</option>
                            <option value="우체국">우체국</option>
                        </select>
                    </div>

                    <div class="pay-other">
                        <p>Other Payment</p>
                        <div class="pay-other-btn">
                            <button>Kakao Pay</button>
                            <button>Naver Pay</button>
                            <button>Toss Pay</button>
                        </div>
                    </div>
                </div>

                <div th:each="user : ${users}">
                    <input type="hidden" name="gameCode" th:value="${user.gameCode}" />
                </div>
                <button type="submit" class="sub-btn02">CHECK OUT</button>
            </form>
        </div>
    </section>
</article>
</body>
</html>