<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>

    <!-- Include global stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/global.css}">
    <!-- Include navbar specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
    <!-- Include footer specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/footer.css}">
    <!-- Include admin specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
    <!-- Include modal specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/modal.css}">
    <!-- Include FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <script>
        const successMessage = `[[${ successMessage}]]`;
        if(successMessage) alert(successMessage);
    </script>


</head>
<body>
<header>
    <!-- Importing the navbar with Thymeleaf -->
    <nav th:insert="common/header :: navbar"></nav>
</header>

<aside class="side-bar">
    <ul class="sidebar-menu">
        <li>
            <button class="admin-btn" onclick="location.href='/admin/memberList'">회원관리</button>
        </li>
        <li>
            <button class="admin-btn" onclick="location.href='/game/listAll'">게임관리</button>
        </li>
        <li>
            <button class="admin-btn" onclick="location.href='/admin/orderListAll'">주문관리</button>
        </li>
        <li>
            <button class="admin-btn" onclick="location.href='/admin/comment-management'">댓글관리</button>
        </li>
    </ul>
</aside>

<!-- Footer -->
<!--<footer th:insert="common/footer :: footer"></footer>-->
</body>
</html>