<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>
    <h3>회원등록</h3>
    <form action="/admin/memberRegist" method="post">
<!--        <label>회원코드</label><input type="text" name="userCode"><br>-->
        <label>회원아이디</label><input type="text" name="userId" placeholder="아이디를 입력하세요" required><br>
        <label>회원이름</label><input type="text" name="userName" placeholder="이름을 입력하세요" required><br>
        <label>회원별명</label><input type="text" name="nickName" placeholder="별명을 입력하세요" required><br>
        <label>회원비번</label><input type="password" name="pwd" placeholder="비밀번호를 입력하세요" required><br>
        <label>회원생일</label><input type="date" name="birthday" placeholder="생일을 입력하세요" required><br>
        <label>회원메일</label><input type="email" name="email" placeholder="이메일을 입력하세요" required><br>
        <label>회원전화</label><input type="tel" name="phone" placeholder="전화번호를 입력하세요" required><br>
        <label>정지여부</label>
        <select name="suspension" required>
            <option value="Y">Y</option>
            <option value="N">N</option>
        </select><br>
        <label>탈퇴여부</label>
        <select name="deletion" required>
            <option value="Y">Y</option>
            <option value="N">N</option>
        </select><br>
        <label>프로필사진<input type="text" name="profileimg" placeholder="프로필 사진을 등록하세요" required></label><br>
<!--        <label>프로필사진<input type="file" name="profileimg"></label><br>-->
        <label>권한코드<input type="text" name="authorityCode" placeholder="권한코드를 입력하세요" required></label><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>