<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <script>
        const successMessage = `[[${ successMessage}]]`;
        if(successMessage) alert(successMessage);
    </script>
</head>
<body>
    <div class="content">
        <div class="button-group">
            <button onclick="location.href='/admin/memberList'">전체조회</button>
<!--            <button onclick="location.href='/admin/'">개별조회</button>-->
<!--            <button onclick="location.href='/admin/memberRegist'">등록</button>-->
            <button onclick="openWindow('/admin/')">개별조회</button>
            <button onclick="openWindow('/admin/memberRegist')">등록</button>
        </div>
    </div>
    <table>
        <tr>
            <th>회원코드</th>
            <th>회원아이디</th>
            <th>회원이름</th>
            <th>회원별명</th>
            <th>회원비밀번호</th>
            <th>회원생일</th>
            <th>회원이메일</th>
            <th>회원전화번호</th>
            <th>정지여부</th>
            <th>탈퇴여부</th>
            <th>프로필사진</th>
            <th>권한코드</th>
        </tr>
        <tr th:each="member : ${ memberList }">
<!--            <td th:text="${ member.userCode }"></td>-->
            <td><a th:href="@{/admin/memberDetail/{userCode}(userCode=${ member.userCode })}" th:text="${ member.userCode }"></a></td>
            <td th:text="${ member.userId }"></td>
            <td th:text="${ member.userName }"></td>
            <td th:text="${ member.nickName }"></td>
            <td th:text="${ member.pwd }"></td>
            <td th:text="${ member.birthday }"></td>
            <td th:text="${ member.email }"></td>
            <td th:text="${ member.phone }"></td>
            <td th:text="${ member.suspension }"></td>
            <td th:text="${ member.deletion }"></td>
            <td th:text="${ member.profileimg }"></td>
            <td th:text="${ member.authorityCode }"></td>
        </tr>
    </table>
    <br>
    <button onclick="location.href='/'">메인으로</button>

    <script>
        function openWindow(url) {
            // Define the size of the new window
            const width = 800; // Adjust width
            const height = 600; // Adjust height
            const left = (window.innerWidth / 2) - (width / 2); // Center horizontally
            const top = (window.innerHeight / 2) - (height / 2); // Center vertically

            window.open(url, '_blank', `width=${width},height=${height},top=${top},left=${left}`);
        }
    </script>
</body>
</html>