<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>listOne</title>
    <!-- Include global stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/global.css}">
    <!-- Include navbar specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
    <!-- Include footer specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/footer.css}">
    <!-- Include admin specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
    <!-- Include modal specific stylesheet -->
    <link rel="stylesheet" th:href="@{/static/css/modal.css}">
    <!-- Include FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <style>
        button {
            padding: 10px 15px; /* 버튼 크기 조정 */
            margin: 5px; /* 버튼 간격 조정 */
            font-size: 14px; /* 글자 크기 조정 */
        }

        table {
            width: 100%; /* 테이블을 전체 폭으로 설정 */
            table-layout: auto; /* 자동으로 열 크기 조정 */
        }

        td {
            overflow: hidden; /* 내용이 넘치면 숨김 */
            text-overflow: ellipsis; /* 넘치는 내용에 점(...) 추가 */
            white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
        }
    </style>

    <script>
        const successMessage = `[[${ successMessage }]]`;
        if(successMessage) alert(successMessage);
    </script>
</head>
<body>
<wrapper>
    <header>
        <!-- Importing the navbar with Thymeleaf -->
        <nav th:insert="common/header :: navbar"></nav>
    </header>

    <aside class="side-bar">
        <ul class="sidebar-menu">
            <li>
                <button class="admin-btn" onclick="location.href='/admin/member-management'">회원관리</button>
            </li>
            <li>
                <button class="admin-btn" onclick="location.href='/game/listAll'">게임관리</button>
            </li>
            <li>
                <button class="admin-btn" onclick="location.href='/admin/orderListAll'">주문관리</button>
            </li>
            <li>
                <button class="admin-btn" onclick="location.href='/admin/comment-management'">댓글관리</button>
            </li>
        </ul>
    </aside>

    <main>
        <section class="top-bar">
            <button class="admin-btn active" onclick="location.href='/admin/orderListAll'">전체조회</button>
            <!-- Trigger/Open The listOneModal -->
            <button id="listOneBtn" class="admin-btn" onclick="location.href='/admin/orderListOne'">개별조회</button>
        </section>

        <article>
            <table>
                <tr>
                    <th>주문코드</th>
                    <th>게임코드</th>
                    <th>장바구니코드</th>
                    <th>회원코드</th>
                    <th>결제코드</th>
                    <th>게임보유여부</th>
                </tr>
                <tr>
                    <td th:text="${ order.orderCode }"></td>
                    <td th:text="${ order.gameCode }"></td>
                    <td th:text="${ order.cartCode }"></td>
                    <td th:text="${ order.userCode }"></td>
                    <td th:text="${ order.paymentCode }"></td>
                    <td th:text="${ order.gamecheck }"></td>
                </tr>
            </table>
        </article>

        <div th:insert="admin/orderModal :: orderModal"></div>

    </main>
</wrapper>
</body>
</html>
