<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>주문코드</th>
        <th>게임코드</th>
        <th>장바구니코드</th>
        <th>회원코드</th>
        <th>결제코드</th>
    </tr>
    <tr th:each="order : ${ orderList }">
        <td th:text="${ order.orderCode }"></td>
        <td th:text="${ order.gameCode }"></td>
        <td th:text="${ order.cartCode }"></td>
        <td th:text="${ order.userCode }"></td>
        <td th:text="${ order.paymentCode }"></td>
        <td th:text="${ order.gamecheck }"></td>

        <!--<td>
            <form th:action="@{/game/delete/{gameCode}(gameCode=${game.gameCode})}" method="post">
                <button type="submit">삭제</button>
            </form>
        </td>-->
    </tr>
</table>

</body>
</html>